<div class='login'>
	<div class='dialog'  title="登录">
		<form action="login.html" method="post">
			<label for = "username"> 用户名</label>
			<input name="username" style="width:100%">
			<label for = "password"> 密码</label>
			<input name="password" style="width:100%;" type="password">
			<input type="submit" value="提交" style="float:right;margin-top:5px;"/>
		</form>
	</div>
</div>

<script>
  $( function() {
    $( ".dialog" ).dialog();
    
    $.ajax({
	    url: "https://apps.1688.com/fragment/index.htm?apps=[{%22appName%22:%22bar_my%22}]&from=1688&site_id=winport",
	 
	    jsonp: "callback",
	 
	    dataType: "jsonp",
	 
	    data: {
	        q: "select title,abstract,url from search.news where query=\"cat\"",
	        format: "json"
	    },
	 
	    success: function( response ) {
	        console.log( response ); // server response
	    }
	});
  } );
</script>