<link rel="stylesheet" type="text/css" href="css/merged-order.css" />
<div class='merged-order'>
	<div class='search-operation'>
		<div class='search-content'>
			<div class='search-item'>
				<span class='form-title'>日期</span>
				<input class='input' name="order-date"> 
			</div>
			<div class='search-item'>
				<span class='form-title'>车次</span>
				<input class='input' name="car-index"> 
			</div>
			<div class='search-item'>
				<span class='form-title'>名字</span>
				<input class='input' name="name"> 
				<input class='input' name="member-id" type='hidden'> 
			</div>
			<div class='search-item'>
				<span class='form-title'>票号</span>
				<input class='input' name="order-index"> 
			</div>
			<div class='search-item'>
				<span class='form-title'>订单号</span>
				<input class='input' name="order-number"> 
			</div>
		</div>
		<div class='search-btns'>
				<div class='btn-search'>搜索</div>
				<div class='btn-cancel'>取消</div>
		</div>
	</div>
	<div class='content'>
		<div class='function-area'>
			<btn class='btn-download'>下载</btn>
		</div>
		<table>	
			<thead>
				<tr>
					<th class='col-name col-item'>名字</th>
					<th class='col-order-number col-item'>产品货号</th>
					<th class='col-ds-fee col-item'>代收费</th>
					<th class='col-js-fee col-item'>加收费</th>
					<th class='col-zz-fee col-item'>中转费</th>
					<th class='col-unit col-item'>单位</th>
					<th class='col-count col-item'>数量</th>
					<th class='col-price col-item'>单价</th>
					<th class='col-cost col-item'>金额</th>
					<th class='col-operations col-item'>操作</th>
				</tr>
			</thead>
			<tbody>
				#foreach($item in $mergedOrders.resultList)	
					#if($!item.wuliuMergedOrderDetailModels && ($!item.wuliuMergedOrderDetailModels.size() > 0))
					#foreach($itemDetail in $item.wuliuMergedOrderDetailModels)
					<tr>
						#if($velocityCount == 1)
						<td class='col-name col-item' rowspan = $item.wuliuMergedOrderDetailModels.size()> $item.name</td>	
						<td class='col-order-number col-item' rowspan = $item.wuliuMergedOrderDetailModels.size()> $item.orderNumber</td>	
						<td class='col-ds-fee col-item' rowspan = $item.wuliuMergedOrderDetailModels.size()> $item.daishouFee</td>	
						<td class='col-js-fee col-item' rowspan = $item.wuliuMergedOrderDetailModels.size()> $item.jiashouFee</td>	
						<td class='col-zz-fee col-item' rowspan = $item.wuliuMergedOrderDetailModels.size()> $item.zhongzhuanFee</td>	
						#end
						
						<td class='col-unit col-item' > 
							#if($itemDetail.type == "weight")
								千克
							#else
								立方米
							#end
						</td>	
						<td class='col-count col-item' > $itemDetail.count</td>	
						<td class='col-price col-item' ></td>	
						<td class='col-cost col-item' > $itemDetail.cost</td>	
						
						#if($velocityCount == 1)
						<td class='col-operation col-item' rowspan = $item.wuliuMergedOrderDetailModels.size() data-data='$JSON.toJSONString($item)'> 
							<div class='btn-view'><a>查看</a></div>
						</td>	
						#end
					</tr>	
					#end
					#else
					<tr>
						<td class='col-name col-item' > $item.name</td>	
						<td class='col-order-number col-item' > $item.orderNumber</td>	
						<td class='col-ds-fee col-item' > $item.daishouFee</td>	
						<td class='col-js-fee col-item' > $item.jiashouFee</td>	
						<td class='col-zz-fee col-item'> $item.zhongzhuanFee</td>	
						
						<td class='col-unit col-item' > 单位</td>	
						<td class='col-count col-item' > </td>	
						<td class='col-price col-item' ></td>	
						<td class='col-cost col-item' > </td>	
						
						<td class='col-operation col-item'  data-data='$JSON.toJSONString($item)'> 
							<div class='btn-view'><a>查看</a></div>
						</td>	
					</tr>	
					#end
					
				#end
			</tbody>
		</table>
		<div class='pagination' data-total-page = '$totalPage' data-current-page = '$currentPage'></div>
		<div class='dialog-form' style='display:none'>
		</div>
	</div>
</div>
 <script src="js/merged-order.js" type="text/javascript"></script>