<html>
<head>
<meta charset="UTF-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 

 <title>Spring & Velocity</title>  
 
 <link rel="stylesheet" type="text/css" href="css/reset.css" />
 <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />
 <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
 <script src="js/jquery-ui.min.js" type="text/javascript"></script>
 
 #if (!$!page || $!page != 'loginpage')
 <link rel="stylesheet" type="text/css" href="css/index.css" />
 <link rel="stylesheet" type="text/css" href="css/menu.css" />
 <link rel="stylesheet" type="text/css" href="css/jquery.page.css" />
 <script src="js/jquery.page.js" type="text/javascript"></script>
 <script src="js/menu.js" type="text/javascript"></script>
 #end
</head>
<body>
  <div style="width:1190;margin:auto;">
      #parse("/WEB-INF/fragments/_header.vm")
  </div>
  
  
  <div>
  
    <!-- View abc.vm is inserted here -->
    <!-- Noi dung View abc.vm se duoc tren tai day -->   
    
    #if($!page && $!page == 'loginpage')
	    	$screen_content
    #else
	<div class="wuliu">
		<div class = 'menu'>
			<ul id="accordion" class="accordion">
		        <li>
					<div class="link"><i class="fa fa-paint-brush"></i><a href="member.html">客户管理</a><i class="fa fa-chevron-down"></i></div>
				</li>
		        <li>
					<div class="link"><i class="fa fa-paint-brush"></i><a href="order.html">订单管理</a><i class="fa fa-chevron-down"></i></div>
				</li>
		        <li>
					<div class="link"><i class="fa fa-paint-brush"></i><a href="mergedorder.html">订单导出</a><i class="fa fa-chevron-down"></i></div>
				</li>
				<!-- <li>
					<div class="link"><i class="fa fa-code"></i>订单管理<i class="fa fa-chevron-down"></i></div>
					<ul class="submenu">
						<li><a href="order.html">订单管理</a></li>
						<li><a href="mergedorder.html">订单导出</a></li>
					</ul>
				</li> -->
			</ul>
		</div>
		<div class="main-content">
	    	$screen_content
    	</div>
    </div>
 	#end
  </div>
  
</body>
</html>